.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 25px;

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .item {
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .link {
        text-decoration: none;
        color: black;
      }
    }
  }
  .middle {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .item {
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .link {
        .linkIcon{
          &:hover{
            color: #2879fe;
          }
        }
        &:hover{
          color: #2879fe;
        }
        text-decoration: none;
        color: black;
        .cartIcon {
            position: relative;
          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #2879fe;
            color: white;
            position: absolute;
            right: -10px;
            top: -8px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
