.slider {
  overflow: hidden;
  .container {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .icons {
    transform: translate(46%, -150%);
    display: flex;
    .icon {
      margin: 0 10px;
      &:hover {
        cursor: pointer;
        color: yellow;
      }
    }
  }
}
