.footer {
  margin: 10px 25px;
  .top {
    display: flex;
    justify-content: space-between;
    .item {
      h1 {
        font-size: 15px;
      }
      p {
        font-size: 10px;
        width: 200px;
        .link {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      font-weight: bold;
      span {
        margin-left: 15px;
        color: gray;
      }
    }
    .right {
      img {
        width: 300px;
      }
    }
  }
}
